.experience-card{
    background: linear-gradient(180deg, #003049 0%, #343a40 100%); 
    border-radius: 0.65rem;
    padding: 1.5rem;
    margin:0 1rem;
    

}

.view-button {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(90deg, #af5500 0%, #ff9500 100%);
    padding: 0.6rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    outline: 1.5px solid transparent;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.view-button:hover{
    color: white;
    background: linear-gradient(90deg, #ff9505 0%, #cc5803 100%);
}


.experience-card h6{
    font-size: 1.35rem;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.experience-card ul li{
list-style: none;
font-size: 1rem;
font-weight: 400;
margin-bottom: 0.5rem;
position: relative;
}

.experience-card ul li::after{

    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background:linear-gradient(180deg, #E85D04 0%, #FB8500 100%);
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;

}

.lugartrabajos{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    font-weight: bold;
    background: linear-gradient(180deg, #343a40 0%, #495057 100%);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;

}

.images img{
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    gap:2rem;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    cursor: pointer;

}

.images img:hover{
    transform: translateY(-0.5rem);

}

@media(max-width: 768px){

    .experience-card{
        margin: 0;
    }

    .experience-card h6{
        font-size: 0.95rem;
    }

    .experience-card ul li{

        font-size: 0.75rem;
    }

}